<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quintype App</title>
  <link rel="stylesheet" href="/assets/style.css" type="text/css" />


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <script type="text/javascript " src="/assets/app.js "></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>

<body>
  <div class="alert"> </div>
  <div id="container" class="container-fluid container-fluid-sm">
    <div class="row align-items-center">
      <div class="col">
        <div class="button">
          <input type="button" class="btn" id="save " value="Save progress " />
        </div>
        <div class="messages">Score:
          <span id="score"></span>
        </div>
        <table class="diamondsweeper-board ">
          <tbody>
            <tr>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
            </tr>
            <tr>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
            </tr>
            <tr>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
            </tr>
            <tr>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
            </tr>
            <tr>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
            </tr>
            <tr>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
            </tr>
            <tr>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
            </tr>
            <tr>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
              <td>
                <a class="cell unknown "></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script type="text/javascript ">startApp(document.getElementById("container "));</script>
</body>

</html>